## Data Imports
    - CO2 Data
    - Temperature
    - CH4

### CO2 Data

#### Import Libaries

In [16]:
import pandas as pd

Linking file path to MSExcel file and creating variables for ease of use

In [17]:
file_path = r'C:\Users\neilf\gitrepos\pfdaP2\moodle_downloads\41586_2008_BFnature06949_MOESM31_ESM.xls'

Creating DataFrames

In [23]:
# Name for data sources (ds); manually entering names from ExcelSheet

ds_source = {
    'a': 'Dome C (0-22 kyr BP)',
    'b': 'Vostok (0-440 kyr BP)',
    'c': 'Taylor Dome (19-63 kyr BP)',
    'd': 'Dome C (393-664 kyr BP)',
    'e': 'Dome C (393-664 kyr BP)',
    'f': 'Dome C (611-800 kyr BP)',
    'g': 'Dome C (611-800 kyr BP)'
}

ds_research = {
    'a': 'Monnin et al. (2001)',
    'b': 'Petit et al. (1999), Pepin et al. (2001), Raynaud et al. (2005)',
    'c': 'Indermühle et al. (2000)',
    'd': 'Siegenthaler et al. (2005)',
    'e': 'Siegenthaler et al. (2005)',
    'f': 'Lüthi et al. (sub)',
    'g': 'Lüthi et al. (sub)'    
}

ds_measured_at = {
    'a': 'University of Bern',
    'b': 'LGGE in Grenoble',
    'c': 'University of Bern',
    'd': 'University of Bern',
    'e': 'LGGE in Grenoble',
    'f': 'University of Bern',
    'g': 'LGGE in Grenoble'    
}

ds_usecols = {
    'a': "A:D",
    'b': "E:G",
    'c': "H:K",
    'd': "L:O",
    'e': "P:R",
    'f': "S:V",
    'g': "W:Y"   
}

# Name for DataFrame Headers (hd); manually entering names from ExcelSheet
ds_headers = {
    'a': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv', 'sigma_ppmv'],
    'b': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv'],
    'c': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv', 'sigma_ppmv'],
    'd': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv', 'sigma_ppmv'],
    'e': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv'],
    'f': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv', 'sigma_ppmv'],
    'g': ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv'] 
}


# DataFrame Compile
dataframes = {}
for key in ds_source.keys():
    df = pd.read_excel(file_path, sheet_name=1, skiprows=7, usecols=ds_usecols[key])
    df.columns = ds_headers[key]
    df.insert(0, 'source', ds_source[key])
    df.insert(1, 'research', ds_research[key])
    df.insert(2, 'measured_at', ds_measured_at[key])

    # Add 'sigma_ppmv' column and set to 0 if it doesn't exist
    if 'sigma_ppmv' not in df.columns:
        df['sigma_ppmv'] = 0

    # Replace NaN values with 0
    df.fillna(0, inplace=True)

    # Remove rows where 'depth_m', 'edc3_gas_a_yr', 'co2_ppmv', 'sigma_ppmv' are all zeros
    col_zero_remove = ['depth_m', 'edc3_gas_a_yr', 'co2_ppmv', 'sigma_ppmv']
    df = df[~(df[col_zero_remove] == 0).all(axis=1)]

    dataframes[key] = df

Output Data Frame

In [24]:
dataframes['a'].info()
dataframes['a'].head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182 entries, 0 to 181
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   source         182 non-null    object
 1   research       182 non-null    object
 2   measured_at    182 non-null    object
 3   depth_m        182 non-null    float64
 4   edc3_gas_a_yr  182 non-null    float64
 5   co2_ppmv       182 non-null    float64
 6   sigma_ppmv     182 non-null    float64
dtypes: float64(4), object(3)
memory usage: 11.4+ KB

,source,research,measured_at,depth_m,edc3_gas_a_yr,co2_ppmv,sigma_ppmv
0,Dome C (0-22 kyr BP),Monnin et al. (2001),University of Bern,106.89,268.0,274.9,0.7
1,Dome C (0-22 kyr BP),Monnin et al. (2001),University of Bern,107.20,279.0,277.9,0.7
2,Dome C (0-22 kyr BP),Monnin et al. (2001),University of Bern,110.25,395.0,279.1,1.3
3,Dome C (0-22 kyr BP),Monnin et al. (2001),University of Bern,110.50,404.0,281.9,1.1
4,Dome C (0-22 kyr BP),Monnin et al. (2001),University of Bern,113.27,485.0,277.7,0.7

In [25]:
dataframes['b']

,source,research,measured_at,depth_m,edc3_gas_a_yr,co2_ppmv,sigma_ppmv
0,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,173.10,3897,272.7,0
1,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,177.40,4124,268.1,0
2,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,228.60,6735,262.2,0
3,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,250.30,7873,254.5,0
4,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,266.00,8670,259.6,0
...,...,...,...,...,...,...,...
366,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,3340.39,428394,229.7,0
367,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,3343.39,433925,199.0,0
368,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,3346.51,437580,201.5,0
369,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,3346.56,437601,207.8,0
370,Vostok (0-440 kyr BP),"Petit et al. (1999), Pepin et al. (2001), Rayn...",LGGE in Grenoble,3349.51,438986,205.9,0